absl-py==2.0.0
accelerate @ git+https://github.com/huggingface/accelerate.git@eafcea07f639a5476385854ea9bccdbba467db9d
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncer==0.0.2
attrs==23.1.0
audioread==3.0.0
azure-core==1.29.4
azure-identity==1.14.1
azure-storage-blob==12.18.3
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
basicsr==1.4.2
bcrypt==4.1.2
beautifulsoup4==4.12.2
bert-score==0.3.13
bitsandbytes==0.41.3.post2
black==23.7.0
bleach==6.0.0
blinker==1.6.2
boto3==1.28.51
botocore==1.31.51
Brotli==1.1.0
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.0
chroma-hnswlib==0.7.3
chromadb==0.3.29
chumpy==0.70
cityscapesScripts==2.2.2
click==8.1.7
clickhouse-connect==0.6.23
cmake==3.27.4.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.4
contourpy==1.1.0
cryptography==41.0.4
cycler==0.11.0
dataclasses-json==0.6.3
datasets==2.15.0
dearpygui==1.10.1
debugpy==1.8.0
decorator==5.1.1
decord==0.6.0
defusedxml==0.7.1
Deprecated==1.2.14
diffdist==0.1
diffusers==0.19.3
dill==0.3.6
dlib==19.24.0
dnspython==2.4.2
docker==6.1.3
docstring-parser==0.15
docx2txt==0.8
duckdb==0.9.2
duckduckgo-search==3.8.4
easydict==1.10
einops==0.4.1
email-validator==2.0.0.post2
embedchain==0.0.41
emoji==2.9.0
exceptiongroup==1.1.3
executing==2.0.0
face-alignment==1.3.4
facexlib==0.2.5
faiss-cpu==1.7.4
fastapi==0.85.1
fastjsonschema==2.18.1
fasttext-wheel==0.9.2
ffmpy==0.3.1
ffprobe==0.5
ffprobe-python==1.0.3
filelock==3.13.1
filetype==1.2.0
filterpy==1.4.5
Flask==2.3.3
flatbuffers==23.5.26
fonttools==4.42.1
fqdn==1.5.1
freetype-py==2.4.0
frozenlist==1.4.0
fsspec==2023.6.0
ftfy==6.1.1
future==0.18.3
fvcore==0.1.5.post20221221
gast==0.4.0
gensim==4.3.2
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
gpt4all==2.0.2
gradio==3.35.2
gradio_client==0.7.0
graphlib-backport==1.0.3
greenlet==2.0.2
grpcio==1.58.0
h11==0.14.0
h2==4.1.0
h5py==3.9.0
hazm==0.9.3
hjson==3.1.0
hnswlib==0.8.0
hpack==4.0.0
httpcore==0.18.0
httptools==0.6.0
httpx==0.25.0
huggingface==0.0.1
huggingface-hub==0.19.4
humanfriendly==10.0
hyperframe==6.0.1
icecream==2.1.0
idna==3.4
imageio==2.31.3
imageio-ffmpeg==0.4.9
importlib-metadata==6.8.0
importlib-resources==6.1.0
InstructorEmbedding==1.0.1
iopath==0.1.10
ipdb==0.13.13
ipykernel==6.25.2
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.1.1
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
json-tricks==3.17.3
json5==0.9.14
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
keras==2.13.1
kiwisolver==1.4.5
kornia==0.5.1
kubernetes==28.1.0
langchain==0.0.352
langchain-community==0.0.6
langchain-core==0.1.3
langchainhub==0.1.14
langdetect==1.0.9
langsmith==0.0.75
lazy_loader==0.3
libclang==16.0.6
librosa==0.9.2
lightning-utilities==0.9.0
linkify-it-py==2.0.2
lit==16.0.6
llvmlite==0.41.0
lmdb==1.4.1
lxml==4.9.4
lz4==4.3.2
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==3.0.2
mmh3==4.0.1
modelcards==0.1.6
monotonic==1.6
mpmath==1.3.0
msal==1.24.1
msal-extensions==1.0.0
msgpack==1.0.6
multidict==6.0.4
multiprocess==0.70.14
mup==1.0.0
mutagen==1.47.0
mypy-extensions==1.0.0
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
nerfacc==0.3.3
nest-asyncio==1.5.8
networkx==3.1
ninja==1.10.2.3
nltk==3.8.1
notebook==7.0.4
notebook_shim==0.2.3
numba==0.58.0
numexpr==2.8.6
numpy==1.23.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.2.140
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.2.3
onnx==1.14.1
onnxruntime==1.16.0
onnxruntime-gpu==1.16.1
openai==0.28.1
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.62
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
opt-einsum==3.3.0
orjson==3.9.7
outcome==1.3.0.post0
overrides==7.4.0
packaging==23.2
pandas==2.0.3
pandocfilters==1.5.0
panopticapi @ git+https://github.com/cocodataset/panopticapi.git@7bb4655548f98f3fedc07bf37e9040a992b054b0
parso==0.8.3
pathspec==0.11.2
peft @ git+https://github.com/huggingface/peft.git@c9df262d69b41d36c7e199219605420be03dfbca
pexpect==4.8.0
pickle5==0.0.11
pickleshare==0.7.5
Pillow==9.4.0
piq==0.8.0
pkg_resources==0.0.0
pkgutil_resolve_name==1.3.10
platformdirs==3.11.0
plyfile==1.0.1
pooch==1.7.0
portalocker==2.8.2
posthog==3.1.0
progressbar==2.5
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.24.3
psutil==5.9.5
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycocotools==2.0.7
pycparser==2.21
pycryptodomex==3.19.0
pydantic==1.10.8
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.10.1
pydub==0.25.1
pyee==11.0.1
pyglet==2.0.10
pygltflib==1.16.1
Pygments==2.16.1
pyhocon==0.3.57
PyJWT==2.8.0
PyMatting==1.1.10
PyMCubes==0.1.2
pymeshlab==2022.2.post4
PyOpenGL==3.1.0
pyparsing==3.0.9
pypdf==3.17.3
PyPika==0.48.9
pyquaternion==0.9.9
pyransac3d==0.6.0
pyre-extensions==0.0.23
pyrender==0.1.45
PySocks==1.7.1
pysqlite3==0.5.2
pysqlite3-binary==0.5.2.post2
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-ffmpeg==2.0.4
python-iso639==2023.12.11
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.6
pytorch-lightning==1.9.5
pytorch-ranger==0.1.1
pytorch3d==0.3.0
pytube==15.0.0
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.0
rapidfuzz==3.5.2
referencing==0.30.2
regex==2023.8.8
rembg==2.0.52
replicate==0.9.0
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rpds-py==0.10.3
rsa==4.9
runpod==0.9.12
s3transfer==0.6.2
sacremoses==0.1.1
safetensors==0.3.3
scann==1.2.10
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.13.0
-e git+https://github.com/z-x-yang/Segment-and-Track-Anything.git@75cb899b1223ccc4760afedea9613433154f478e#egg=segment_anything&subdirectory=sam
selenium==4.16.0
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
shapely==2.0.2
shellingham==1.5.4
shtab==1.6.4
six==1.16.0
sk-video==1.1.10
smart-open==6.3.0
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.6
SQLAlchemy==2.0.21
stack-data==0.6.3
starlette==0.20.4
subprocess.run==0.0.8
supervision==0.6.0
sympy==1.12
tabulate==0.9.0
tb-nightly==2.14.0a20230808
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
tensorrt==8.6.1.post1
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.2.0
tifffile==2023.7.10
tiktoken==0.5.2
timm==0.4.12
tinycss2==1.2.1
tokenizers==0.15.0
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==2.1.2
torch-efficient-distloss==0.1.3
torch-optimizer==0.3.0
torchaudio==2.1.2+cu118
torchmetrics==0.6.0
torchvision==0.16.2
tornado==6.3.3
tqdm==4.65.0
tqdm-loggable==0.1.4
traitlets==5.10.1
transformers @ git+https://github.com/huggingface/transformers.git@ebfdb9ca62205279d5019ef1403877461b3b2da4
trimesh==3.9.27
trio==0.23.2
trio-websocket==0.11.1
triton==2.1.0
trl @ git+https://github.com/lvwerra/trl.git@eb4d2f381a4dd1e84663d3516a1347b3b3761665
typer==0.9.0
types-python-dateutil==2.8.19.14
types-requests==2.31.0.10
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.9.0
tyro==0.5.10
tzdata==2023.3
uc-micro-py==1.0.2
ujson==5.8.0
unstructured==0.11.6
unstructured-client==0.15.0
uri-template==1.3.0
urllib3==2.1.0
uvicorn==0.23.2
uvloop==0.17.0
vision-datasets==0.2.2
watchdog==3.0.0
watchfiles==0.20.0
wcwidth==0.2.8
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.3
websockets==11.0.3
Werkzeug==2.3.7
widgetsnbextension==4.0.9
wrapt==1.15.0
wsproto==1.2.0
xatlas==0.0.8
xformers==0.0.16
xxhash==3.3.0
yacs==0.1.8
yapf==0.40.2
yarl==1.9.2
youtube-transcript-api==0.6.1
yt-dlp==2023.7.6
zipp==3.17.0
zstandard==0.22.0
